<!DOCTYPE html>
<html lang="es">

{{> head}}

{{> navar}}

<div class="row">

      <div class="col-8">
        <h1>Bienvenidos a las grandes ciudades</h1>
        <P>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit nunc nec cursus mattis. Praesent dapibus tristique neque, vel rhoncus lectus semper eget. Maecenas ut hendrerit enim, quis pretium nisi. Suspendisse potenti. Sed tempus nunc sit amet pellentesque cursus. In sed leo in velit semper volutpat. Quisque eget porta ligula, et tincidunt purus. Morbi a auctor orci. Aenean eu odio ac justo hendrerit volutpat id nec metus. Phasellus consequat et velit id euismod. Nam molestie tellus eget mi efficitur pretium. Suspendisse vitae malesuada augue, congue interdum odio. Nullam pharetra viverra rutrum. Quisque consequat sem nulla, vel luctus sapien bibendum et. 
        </P>
      </div>

      <div class="col-4">
       <img src="/assests/img/26.jpg" class="img-thumbnail"/>
      </div>

</div>

{{> footer }}
